<h1 class="text-center">My Events</h1>
<a href="/events/create" class="btn btn-primary mb-3">Create New Event</a>

{{#if events.length}}
  <ul class="list-group">
    {{#each events}}
      <li class="list-group-item">
        <strong>{{this.name}}</strong> - {{this.date}}
        <br>
        <small>{{this.location}}</small>
        <p>{{this.description}}</p>
        <div class="btn-group">
          <a href="/events/{{this._id}}" class="btn btn-info">View</a>
          <a href="/events/{{this._id}}/edit" class="btn btn-warning">Edit</a>

          <!-- Simple Delete Form -->
          <form action="/events/{{this._id}}/delete" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this event?');">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center">No events found. <a href="/events/create">Create your first event</a>.</p>
{{/if}}
